.headerContainer {
  background-color: #EFCFD4;
  height: 6rem;
}

.logoPosititoning {
  display: flex;
  background-color: blueviolet;
  height: 100%;
  width: 10%;
  justify-content: center;
  align-items: center;
}