.mainTechCardContainer {
  background-color: aqua;
  display: flex;
  flex-wrap: wrap;
}

.individualCards {
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  margin: 10px;
  padding: 40px
}